/*font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/

body{
    background-color: #1B1B1B;
}

h1, h2, h3, h4{
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: white;
}

h1{
    font-size: 72px;
}

h2{
    font-size: 60px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

p{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 18px;
}

.own-btn{
    margin-top: 25px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-transform: uppercase;
    border-radius: 50px;
    border: none;
    padding: 18px 30px;
    font-size: 14px;
    text-align: center;
}

.own-btn:hover{
    background-color: #AA0D0D;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.hero{
    text-align: center;
    background-image: url("../img/franzy-bw.png");
    background-repeat: no-repeat;
    background-position: top center;
    height: 700px;
}

.hero:hover{
    background-image: url("../img/franzy-f.png");
}

.own-nav{
    background-color: #202020;
    color: white;
    padding: 50px;
}

.own-brand{
    font-size: 30px;
}

.overline{
    text-transform: uppercase;
    color: #AA0D0D;
}

#hero-text{
    margin-bottom: 40px;
}

.figure:hover img.image-hover {
    opacity: 1;
}

.work-wm{
    border-radius: 10px;
    background-color: #282323;
    padding: 30px 50px;
}

.footer{
    background-color: #202020;
}

.icons{
    color: white;
    margin: 20px 20px;
}